#Written by: Daniel Ching
  #Debugged by: Daniel Ching
  #Tested by: Daniel Ching
<h1> About Bookinator </h1>
<br></br>
<br></br>
Bookinator is a system that is used for keeping track of your community library or a full sale library!
<br></br>
<br></br>
<%= link_to 'Home', root_path %>
